mixin hcCardShort(cardObject)
	.hc-card--short
		.hc-card-row
			.hc-card-row__item-img
				img(src="../img/app-card-hc/"+ cardObject.imgSrc + ".jpg", alt="ЖК “Barrin House”")
			.hc-card-row__title.block-width
				.row-text-title
					+link-title(cardObject.cardTitile, cardObject.cardTitileLink)
					.text-body.text-body--grey !{cardObject.rusLangeTitle}
				.row-text-subtitle
					.link-adress-mob
						each item in cardObject.regionLinks
							+link(item.linkTitle, item.linkHref)
						//- +text-link('ЦАО,','#')
						//- +text-link('Хамовники','#')
						+text-link(cardObject.adressStreetName,cardObject.adressLinks)
						.text-info.text-group.d-flex
							each item in cardObject.metroInfo
								+metroStation(item)(class="metro-station--flex")
					.link-adress-desk.box-visible-desk
						+badge-group(cardObject.badgeItems)
						//- +badge-group(['ЦАО','Хамовники'])
						+text-link(cardObject.adressStreetName,cardObject.adressLinks)
				.text-info.text-group.d-flex(class="box-visible-desk")
					each item in cardObject.metroInfo
						+metroStation(item)(class="metro-station--flex")

		.hc-card-description.text-body.block-width !{cardObject.descriptionText}
		+text-link('Подробнее','#',"showHcDescription link-open-description")
		.hc-card-wrapper
			.hc-card-row.hc-card-row-info
				.hc-card-group.block-width
					.box-visible-block
						.headline-bold !{cardObject.appartmentPrice}
						.text-body стоимость квартир
					.hc-card-row__info.d-flex
						.hc-card__area-mob
							.headline-bold !{cardObject.appartmentAreas}
							.text-body площадь квартир
						.box-mobile-block
							.headline-bold !{cardObject.appartmentFloor}
							.text-body этажей
					.box-visible-block
						.headline-bold !{cardObject.ceilingHeight}
						.text-body потолки
				.hc-card-row-add.d-flex
					+bag-badge(cardObject.blueBadgeNum1, cardObject.blueBadgeNum2)(class='big-badge--short')
					.box-mobile-block
						.headline-bold !{cardObject.ceilingHeight}
						.text-body потолки
			.hc-card-row.hc-card-row-details
				.hc-card-row__item.block-width
					.headline-body Парковка
					.text-body !{cardObject.parkingInfo}
				.hc-card-row-add
					.headline-body Готовность
					.text-body !{cardObject.buildInfo}
			.hc-card-row.hc-card-row-details
				.hc-card-row__item.block-width
					.headline-body Инфраструктура
					.text-body !{cardObject.infrastructureInfo}
				.hc-card-row-add
					.headline-body Эксплуатация
					.text-body !{cardObject.usingPrice}
		//-Большой бэйдж на белом фоне
		.hc-card-row-add.big-badge--white
			+bag-badge(cardObject.blueBadgeNum1, cardObject.blueBadgeNum2)(class='big-badge--short')
			.hc-card-row__info
				.headline-bold !{cardObject.ceilingHeight}
				.text-body потолки
		.subscribe-group
			+button-mode1('Следить за объявлениями в этом ЖК', '#', 'btn-mode1 subscribeButton', 'icon-notify','Следить за ЖК' )(data-position="passive")
			.unsubscribe
				+text-link('Отписаться','#')
