mixin hcCardShort(cardObject)
	.hc-card--short
		.hc-card-row
			.hc-card-row__item-img
				img.BarrinHouse(src="../img/app-card-hc/BarrinHouse.jpg", alt="")
			.hc-card-row__title.block-width
				.row-text-title
					+link-title(cardObject.houseComplexTitle, '#')
					.text-body.text-body--grey !{cardObject.houseComplexSubTitle}
				.row-text-subtitle
					.link-adress-mob
						+text-link(cardObject.linkText,'#')
						+text-link(cardObject.linkText2,'#')
						+text-link(cardObject.linkAdress,'#')
						+metro('Новокузнецкая')
					.link-adress-desk.box-visible-desk
						+badge-group(cardObject.badgesItems)
						+text-link(cardObject.linkAdress,'#')
				+metroStation(cardObject.metroName)(class="box-visible-desk")
		.hc-card-description.text-body.block-width !{cardObject.paragrafe1}
		+text-link('Подробнее','#',"showHcDescription link-open-description")
		.hc-card-wrapper
			.hc-card-row.hc-card-row-info
				.hc-card-group.block-width
					.box-visible-block
						.headline-bold !{cardObject.price} руб. 
						.text-body стоимость квартир
					.hc-card-row__info.d-flex
						.hc-card__area-mob
							.headline-bold !{cardObject.priceArea} кв.м
							.text-body площадь квартир
						.box-mobile-block
							.headline-bold !{cardObject.floor}
							.text-body этажей
					.box-visible-block
						.headline-bold !{cardObject.roof} м
						.text-body потолки
				.hc-card-row-add.d-flex
					+bag-badge('48', '116')(class='big-badge--short')
					.box-mobile-block
						.headline-bold 3,1 м
						.text-body потолки
			.hc-card-row.hc-card-row-details
				.hc-card-row__item.block-width
					.headline-body Парковка
					.text-body подземная&nbsp;на&nbsp;115&nbsp;машиномест&#160;&#160;(&nbsp;17&nbsp;–&nbsp;35&nbsp;кв.м&nbsp;),&nbsp;от&nbsp;4&nbsp;500&nbsp;000 руб.&nbsp;за&nbsp;м/м
				.hc-card-row-add
					.headline-body Готовность
					.text-body сдан, 3 квартал 2017
			.hc-card-row.hc-card-row-details
				.hc-card-row__item.block-width
					.headline-body Инфраструктура
					.text-body Офисные и административные помещения, кафе-кофейня
				.hc-card-row-add
					.headline-body Эксплуатация
					.text-body 328 руб./кв.м
		//-Большой бэйдж на белом фоне
		.hc-card-row-add.big-badge--white
			+bag-badge('48', '116')(class='big-badge--short')
			.hc-card-row__info
				.headline-bold 3,1 м
				.text-body потолки
		.subscribe-group
			+button-mode1('Следить за объявлениями в этом ЖК', '#', 'btn-mode1 subscribeButton', 'icon-notify','Следить за ЖК' )(data-position="passive")
			.unsubscribe
				+text-link('Отписаться','#')
