mixin button(nameButton, linkButton, buttonClass,btnIcon, nameButtonMobile)
	if btnIcon
			a(href=""+ linkButton class=" "+buttonClass).button&attributes(attributes)
				+#{btnIcon}
				span.btn-text #{nameButton}
				span.btn-text--mobile #{nameButtonMobile}
	if nameButtonMobile
		a(href=""+ linkButton class=" "+buttonClass).button&attributes(attributes)
			span.btn-text #{nameButton}
			span.btn-text--mobile #{nameButtonMobile}
	else 
		a(href=""+ linkButton class=" "+buttonClass).button&attributes(attributes) #{nameButton}