mixin hc-card(hauseImg, hauseTitle,titleHref, hauseAddress,hauseStartDate,hausePrice,hauseBadge )
	.card.hc-card&attributes(attributes)
		img.card-img-top(src="../img/hc/"+ hauseImg +".jpg", alt='Карточка новостройки')
		.card-body.hc-card-body
			+link-title(hauseTitle, titleHref) #{hauseTitle}
			.hc-card-body__address.text-body #{hauseAddress}
			.hc-card-body__data.text-body #{hauseStartDate}
			.hc-card-body__price от #{hausePrice} руб./кв.м
		if hauseBadge
			.card-badge #{hauseBadge}