//- Разные миксины по одному, которые понадобятся. Для логотипа, бейджа, и т.д.

//-заголовок секции
mixin section-title(title)
	.section-top-title.headline-bold&attributes(attributes) !{title}

//-строка с заголовоком секции , с фильтрами ...
mixin section-top(sectionTitle,filterToggles,sectionSubtitle,addClass )
	.section-top.d-flex(class=" "+ addClass)&attributes(attributes)
		.section-top-title.headline-bold !{sectionTitle}
		if sectionSubtitle
			.section-top-subtitle.headline-bold.headline-bold--grey !{sectionSubtitle}
		//-фильтры
		if filterToggles
			+toggle-block(filterToggles)

//- Миксин ссылок
mixin link(linkText,href, linkIcon,linkClass)
	a(href=' '+ href).link-block&attributes(attributes)
		if linkIcon
			.link-block__icon
				+#{linkIcon}
			if linkClass
				.simple-link(class=' '+ linkClass) #{linkText}
			else
				.simple-link #{linkText}
		else
			if linkClass
				.simple-link(class=' '+ linkClass) #{linkText}
			else
				.simple-link #{linkText}

//- Миксин для одного бейджа
mixin badge(...items)
	each item in items
		.badge= item

//- Миксин для группы бейджиков
mixin badge-group(badges)
	.badge-group
		each item in badges
			.badge= item


//-большой голубой бейдж
mixin bag-badge(num1,num2 )
	.big-badge&attributes(attributes)
		.big-badge__top #[span #{num1}] из #[span #{num2}]
		.big-badge__bottom квартир в продаже


mixin big-badge(objItem)
	.big-badge&attributes(attributes)
		.big-badge__top #[span #{objItem.num1}] из #[span #{objItem.num2}]
		.big-badge__bottom квартир в продаже

//- Миксин кнопок
mixin mobile-btn(btnImg)
	a(href="#").mobile-button&attributes(attributes)
		+plus


//-миксин для метро с человечком
mixin metro-station(firstIcоn,stationName,timeNum, iconLast)
	.metro-station.d-flex&attributes(attributes)
		if firstIcоn
			+#{firstIcоn}
		span.text-body.first-text #{stationName},
		span.text-body.middle-text.text-body--grey !{timeNum}
		span.text-body.last-text.text-body--grey пешком
		span.last-icon
		if iconLast
			span.last-icon
				+#{iconLast}

//-миксин для метро с человечком для объекта
mixin metroStation(metroStation)
	.metro-station.d-flex&attributes(attributes)
		if metroStation.firstIcоn
			+#{metroStation.firstIcоn}
		span.text-body.first-text #{metroStation.stationName},
		span.text-body.middle-text.text-body--grey !{metroStation.timeNum}
		span.text-body.last-text.text-body--grey пешком
		span.last-icon
		if metroStation.iconLast
			span.last-icon
				+#{metroStation.iconLast}

//-ссылка в две строки Следить за этим ЖК
mixin dropdown-double-item(iconName, spanText1,spanText2)
	a(href='#').dropdown-double-item.d-flex&attributes(attributes)
		+#{iconName}
		.dropdown-double-item__text
			span #{spanText1}
			span.short-span #{spanText2}

//-миксин для таблицы квартир
mixin table-row(roomsNum, roomsLink, roomsArea, roomsFloor,roomsRepair, roomsImg, priceUsd, priceRub, priceMeter, phoneNumber, priceDown )
	.apartment-item
		.row
			.col-md-10
				.apartment-item-column.d-flex
					.d-flex.column-item
						.d-flex.apartment-info.apartment-info--pb.order-md-2
							.d-flex.apartment-info__col
								a(href=""+ roomsLink).info-item.info-item--rooms #[span.link-solid-border #{roomsNum} комн. кв]
								.info-item.info-item--area #[span #{roomsArea} кв.м]
							.d-flex.apartment-info__col
								.info-item.info-item--floor #[span #{roomsFloor} этаж]
								if(roomsRepair == 'без отделки')
									.info-item.info-item--repair #[span Без отделки]
								if(roomsRepair == 'отделка')
									.info-item.info-item--repair #[span.repaire-icon Отделка]
						.apartment-img.order-md-1(style="background-image: url(../img/hc/"+ roomsImg +".png);")
					.d-flex.column-item
						.d-flex.apartment-info
							.d-flex.apartment-info__col.apartment-info__col--short
								if priceDown

									.info-item.info-item--price.info-item--price-usd #[span.visible-usd $#{priceUsd}] #[span.hidden-rub.price-down #{priceRub} руб.]
										+icon-price-down

								else
									.info-item.info-item--price-usd #[span.visible-usd $#{priceUsd}] #[span.hidden-rub #{priceRub} руб.]

							.d-flex.apartment-info__col.apartment-info__col--large
								if priceDown
									.info-item.info-item--price-rub #[span.visible-rub.price-down #{priceRub} руб.] #[span.hidden-usd $#{priceUsd}]
										+icon-price-down

								else
									.info-item.info-item--price-rub #[span.visible-rub #{priceRub} руб.] #[span.hidden-usd $#{priceUsd}]

								.info-item.info-item--price-meter #[span #{priceMeter} руб./кв.м]


			.col-md-2
				.d-flex.column-contacts
					a(href="#").contact-phone #{phoneNumber}
					.icon-group(class=" table-row--group")
						a(href="#")
							+icon-mail
						+icon-heart('red')

//-конец миксина "строка таблицы""

