//- Разные миксины по одному, которые понадобятся. Для логотипа, бейджа, и т.д.

//-заголовок секции
mixin section-title(title)
	.section-top-title.headline-bold&attributes(attributes) !{title}

//-строка с заголовоком секции , с фильтрами ...
mixin section-top(sectionTitle,filterToggles,sectionSubtitle,addClass )
	.section-top.d-flex(class=" "+ addClass)&attributes(attributes)
		.section-top-title.headline-bold !{sectionTitle}
		if sectionSubtitle
			.section-top-subtitle.headline-bold.headline-bold--grey !{sectionSubtitle}
		//-фильтры
		if filterToggles
			+toggle-block(filterToggles)

//-ссылка заголовок
mixin link-title(linkText, href)
	a(href=" "+href ).headline-body.simple-link.link-solid-border&attributes(attributes) !{linkText}



//-Простая ссылка
mixin text-link(linkText,href,linkClass)
	if linkClass
		a.text-link(href=""+ href class=" "+ linkClass) !{linkText}
	else
		a.text-link(href=""+ href) !{linkText}

//- ссылка, которая может переноситься, подчеркивается градиентом
mixin link(linkText,href, linkIcon,linkClass)
	a(href=' '+ href).link-block&attributes(attributes)
		if linkIcon
			.link-block__icon
				+#{linkIcon}
			if linkClass
				.simple-link(class=' '+ linkClass)
					span
						nohyphen !{linkText}
			else
				.simple-link
					span
						nohyphen !{linkText}
		else
			if linkClass
				.simple-link(class=' '+ linkClass)
					span
						nohyphen !{linkText}
			else
				.simple-link
					span
						nohyphen !{linkText}

mixin linkInMixin(linkData)
	a(href=' '+ linkData.href).link-block&attributes(attributes)
		if linkIcon
			.link-block__icon
				+#{linkData.Icon}
			if linkClass
				.simple-link(class=' '+ linkData.addClass)
					span
						nohyphen !{linkData.Text}
			else
				.simple-link
					span
						nohyphen !{linkData.Text}
		else
			if linkClass
				.simple-link(class=' '+ linkData.addClass)
					span
						nohyphen !{linkData.Text}
			else
				.simple-link
					span
						nohyphen !{linkData.Text}


//- Миксин для одного бейджа
mixin badge(...items)
	each item in items
		.badge= item

//- Миксин для группы бейджиков
mixin badge-group(badges)
	.badge-group&attributes(attributes)
		each item in badges
			.badge= item


//-большой голубой бейдж
mixin bag-badge(num1,num2 )
	.big-badge&attributes(attributes)
		.big-badge__top #[span #{num1}] из #[span #{num2}]
		.big-badge__bottom квартир в продаже

//-большой голубой бейдж для объекта
mixin big-badge(objItem)
	.big-badge&attributes(attributes)
		.big-badge__top #[span #{objItem.num1}] из #[span #{objItem.num2}]
		.big-badge__bottom квартир в продаже

//- Миксин кнопок
mixin mobile-btn(btnImg)
	a(href="#").mobile-button&attributes(attributes)
		+plus

//-базовый миксин иконка + метро
mixin metro(...metroName )
	.metro-block.d-flex&attributes(attributes)
		+icon-metro
		each item in metroName
			.metro-name !{item} #[span.metro-name--comma ,]


//-миксин для метро с человечком
mixin metro-station(firstIcоn,stationName,timeNum, iconLast)
	.metro-station&attributes(attributes)
		if firstIcоn
			+#{firstIcоn}
		span.text-body.first-text #{stationName},
		span.text-body.middle-text.text-body--grey !{timeNum}
		span.text-body.last-text.text-body--grey пешком
		span.last-icon
		if iconLast
			span.last-icon
				+#{iconLast}


mixin metro-station-mobile(items)
	.metro-station-mobile
		each item in items
			.metro-station-mobile__item
				.text-body.first-text #{item.stationName}
				.text-body.middle-text.text-body--grey !{item.timeNum} пешком
		+icon-metro


//-миксин для метро с человечком для объекта
mixin metroStation(metroStation)
	.metro-station&attributes(attributes)
		span.text-body.first-text #{metroStation.stationName},&nbsp;
			if metroStation.firstIcоn
				+#{metroStation.firstIcоn}
		.metro-station--box.d-flex
			span.text-body.middle-text.text-body--grey !{metroStation.timeNum}
			span.text-body.last-text.text-body--grey пешком #[span.last-text--comma , ]
		span.last-icon
		if metroStation.iconLast
			span.last-icon
				+#{metroStation.iconLast}


//-миксин для ссылки-кнопки с кол-вом квартир
mixin link-btn(text)
	a(href='#').link-btn
		span.link-btn--text= text

mixin link-btn-block(...items)
	.link-btn-block
		each item in items
			+link-btn(item)

mixin repaire-item(text)
	if text == 'С ремонтом'
		.repaire-item-box
			+icon-brach
			.repaire-item= text
	else
		.repaire-item= text


//-миксин для одиночного инпута
mixin input-block(inputType,inputPlace,inputName)
	.input-block&attributes(attributes)
		input.form-input(type=""+ inputType placeholder=""+ inputPlace name=""+ inputName)


//-миксин для двойного инпута
mixin input-block--double(inputType1,inputPlace1,inputName1,inputType2,inputPlace2,inputName2)
	.input-block.input-block--double.d-flex&attributes(attributes)
		input.form-input.form-input--left(type=""+ inputType1 placeholder=""+inputPlace1 name=""+ inputName1)
		input.form-input.form-input--right(type=""+ inputType2 placeholder=""+ inputPlace2 name=""+ inputName2)

//-окошко тултип
mixin tooltip
	.tooltip-box&attributes(attributes)
		.tooltip__title Ссылка на объект
		.tooltip__input
			+icon-copy
			+input-block('text','http://realtycat.pro/36732')
		.tooltip__links.d-flex
			+text-link('Отправить по эл почте','#','text-link--line')
			+text-link('Скачать ПДФ','#','text-link--line')

mixin custom-checkbox(text)
	label.checkbox-label(for='hc-type')&attributes(attributes)
		span.checkbox-title= text
		input(type="checkbox" id='hc-type' name="form-checkbox" class="form-checkbox")
		span.custom-checkbox