mixin offer-card(cardObject)
	.card-offer(class='card-offer--'+cardObject.modif)
		.card-description
			.card-description-top
				.offer-row.offer-row--swipe
					if cardObject.badgeDark
						.badge.badge--dark Новостройка

					+badge-group(cardObject.badgeGroup)
					+text-link(cardObject.adress,cardObject.addressHref,'appartment-card--address')
					.appartment--built.text-body.text-body--grey !{cardObject.builtDate}
					+metro(cardObject.metroName)
					.appartment-page-link
						.share-link-text Поделиться
						+share-link
						+tooltip(cardObject.tooltipLink,cardObject.mailAddress,cardObject.pdfLink)
				
				.offer-row.offer-row--title
					+link-title(cardObject.appartmentRooms, cardObject.titleHref)(class="link-title--middle")
					.offer-row--transform
						if cardObject.priceDown
							.appartment-card__price-section
								.appartment-card__price--num.headline-bold.price-down !{cardObject.price} руб.
								+icon-price-down
						else
							.appartment-card__price-section
								.appartment-card__price--num.headline-bold !{cardObject.price} руб.

						.mobile-price
							.appartment-card__price--usd $ !{cardObject.priceUsd}
							.appartment-card__price--area.text-body.text-body--grey !{cardObject.priceArea} 
						+repaire-item(cardObject.repaireText)
							

				if cardObject.modif=='new'
					.offer-row.offer-row--info.text-body.fadeOut !{cardObject.cardDescription}
						span.text-hidden !{cardObject.cardDescriptionHidden}
						.more
							+text-link('Развернуть','#')
				else 
					.offer-row.offer-row--info
						if cardObject.modif=='hot'
							if cardObject.repaireText=='С ремонтом'
								.appartment-card--mobile-repaire-icon
									+brach-white
						+card-slider(cardObject.sliderItems)
						.text-body !{cardObject.sliderSubText}
										

				.offer-row.offer-row--tools
					.appartment-card__toolbar
						if cardObject.modif=='new'
							.appartment-card__toolbar-item.appartment-card__toolbar-item--tel
								+button(cardObject.telNumber, cardObject.telLink, 'btn-tel contact-phone')
						else
							.appartment-card__toolbar-item.appartment-card__toolbar-item--btn
								a(href=""+cardObject.presentation-link download).button-download
									span.button-download--desk Скачать презентацию
									span.button-download--mob Презентация				
						.appartment-card__toolbar-item.appartment-card__toolbar-item--heart
							+link('В избранное','','icon-heart')(class="icon-heart--tablet item-favorite")
							+link('В избранное','','icon-heart','fix-width')(class="icon-heart--desk item-favorite icon-heart--small")
						.appartment-card__toolbar-item.appartment-card__toolbar-item--mail
							a.text-link.text-link--line(href='#'+ 'cardObject.mailAddress') Отправить электронной почтой
							a(href='#')
								+icon-mail

						if	cardObject.modif=='hot'
							.icons-like
								+icon-group({iconName:'icon-like', countNum:'45'})
								+icon-group({iconName:'icon-dislike', countNum:'45'})

			if cardObject.messagesData
				.row-line
				.card-description-chat
					+messages(cardObject.messagesData)
			
		.agent-card
			+agent-info(cardObject.agentData)


