mixin title-block(titleBlockData)
	.title-block-wrapper.d-flex
		.title-block--left
			.main-title-block.d-flex
				.title-1 !{titleBlockData.mainTitle}
				.subtitle
					span.span-title.text-body #{titleBlockData.subtitleName}
					span.span-details.text-body #{titleBlockData.subtitleDate}
				.price-badge.headline-bold от !{titleBlockData.subtitlePrice} руб.

			.main-badge-block.d-flex
				+badge-group(titleBlockData.badgesItems)

				.link-group
					each item in titleBlockData.linkItems
						+link(item.linkText, item.href, item.linkIcon,item.linkClass)

				.text-info.text-group.d-flex
					+metroStation(titleBlockData.metroInfo)
		.title-block--right
			.update-box !{titleBlockData.updateTime}
			.price-box.headline-bold от !{titleBlockData.subtitlePrice} руб.